<!--The content below is only a placeholder and can be replaced.-->
<div style="padding:5px;background-color:rgb(246, 245, 237)">
  <h2 class="projectHeader">
    {{ title }}
  </h2>
  <nav mat-tab-nav-bar >
    <a mat-tab-link
       *ngFor="let routeLink of routeLinks; let i = index;"
       [routerLink]="routeLink.link"
       routerLinkActive="mat-tab-link-active"
       #rla="routerLinkActive"
       [active]="activeLinkIndex === i"
       (click)="activeLinkIndex = i"
       [routerLinkActiveOptions]="{exact: true}"
    >
        {{routeLink.label}}
    </a>
</nav>

<router-outlet></router-outlet>
</div>